.header {
    background-color: $off-black;
    color: #fff;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

.header__title {
    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}
