.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 200ms ease-in-out;

    &--after-open {
        opacity: 1;
    }

    &--before-open {
        opacity: 0;
    }
}

.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;

    &__title {
        margin: 0 0 $m-size 0;
    }

    &__body {
        margin: 0 0 $l-size 0;
        font-size: 2rem;
        font-weight: 300;
        word-break: break-all;
    }
}
