// widget

.widget {
    background: $light-blue;
    margin-bottom: $xl-size;

    &__message {
        color: $off-white;
        margin: 0;
        padding: $l-size;
        text-align: center;
        border-bottom: 1px solid lighten($light_blue, 10%);
    }
}

// widget header

.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;

    &__title {
        margin: 0;
    }
}
